*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
}

h5{
    font-weight: 100;
}

.sbtitulo{
    font-weight: 500;
}

body{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.navbar-bar {
    margin-left: 50px;
}

.container-carousel {
    max-width: 900px;
    margin: auto;
    padding-top: 80px;
}
  
  .carousel-inner {
    width: 90%;
    max-width: 900px;
    margin: auto;
}
  
  .carousel-inner img {
    width: 100%;
    height: auto;
    max-height: 500px;
    object-fit: cover;
}
  
@media (min-width: 900px){
  .carousel-control-prev,
  .carousel-control-next {
    width: 50px;
    height: 50px;
    top: 50%;
    transform: translateY(280%);
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
}
}

  .carousel-control-prev {
    left: 0;
}
  
  .carousel-control-next {
    right: 0;
}
  
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    background-size: 100% 100%;
    width: 100%;
    height: 100%; 
    background-color: transparent;
}
  
  .carousel-control-prev,
  .carousel-control-next {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-bienvenido{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    margin-top: 50px;
}

.container-desc{
    width: 100%;
    display: flex;
    justify-content: center;
}

.inner-container-desc{
    display: flex;
    width: 50%;
}

.container-fotos{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 40px;
    background-color: #005E78;
}

.inner-container-fotos{
    width: 90%;
    padding: 40px;
}

@media (min-width: 1250px){
    .inner-container-fotos{
        width: 50%;
    }
}

.card-header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.fondo{
    background-color: white;
}

.ingenieria{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding: 40px 0;
}

.container-ingtitulo{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.container-ingdesc{
    width: 100%;
    display: flex;
    justify-content: center;
}

.inner-container-ingdesc{
    display: flex;
    width: 50%;
    flex-direction: column;
    margin-bottom: 10px;
}

.inner-container-inglist{
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 40px;
}


.soporte{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding: 40px 0;
    background-color: #424242;
}

.container-soportetitulo{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.container-soportedesc{
    width: 100%;
    display: flex;
    justify-content: center;
}

.inner-container-soportedesc{
    display: flex;
    width: 50%;
    flex-direction: column;
    margin-bottom: 10px;
}

.inner-container-soportelist{
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 40px;
}


.telefonia{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding: 40px 0;
    background-color: #005E78;
}

.container-telefoniatitulo{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.container-telefoniadesc{
    width: 100%;
    display: flex;
    justify-content: center;
}

.inner-container-telefoniadesc{
    display: flex;
    width: 50%;
    flex-direction: column;
    margin-bottom: 10px;
}

.inner-container-telefonialist{
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 40px;
}


.control{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding: 40px 0;
}

.container-controltitulo{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.container-controldesc{
    width: 100%;
    display: flex;
    justify-content: center;
}

.inner-container-controldesc{
    display: flex;
    width: 50%;
    flex-direction: column;
    margin-bottom: 10px;
}

.inner-container-controllist{
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 40px;
}


.container-auditoriatitulo{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    padding-top: 50px;
}

.container-auditoriadesc{
    width: 100%;
    display: flex;
    justify-content: center;
}

.inner-container-auditoriadesc{
    display: flex;
    width: 50%;
    flex-direction: column;
    margin-bottom: 10px;
}

.inner-container-auditorialist{
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 40px;
    flex-direction: column;
}


.container-pabxtitulo{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    padding-top: 50px;
}

.container-pabxdesc{
    width: 100%;
    display: flex;
    justify-content: center;
}

.inner-container-pabxdesc{
    display: flex;
    width: 50%;
    flex-direction: column;
    margin-bottom: 10px;
}

.inner-container-pabxlist{
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 50px;
}


.container-admtitulo{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    padding-top: 50px;
}

.container-admdesc{
    width: 100%;
    display: flex;
    justify-content: center;
}

.inner-container-admdesc{
    display: flex;
    width: 50%;
    flex-direction: column;
    margin-bottom: 10px;
}


.container-invtitulo{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    padding-top: 50px;
}

.container-invdesc{
    width: 100%;
    display: flex;
    justify-content: center;
}

.inner-container-invdesc{
    display: flex;
    width: 50%;
    flex-direction: column;
    margin-bottom: 10px;
}

.inner-container-invlist{
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 40px;
}

.parallax{
    background: url(/images/fondo.png) repeat fixed;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.parallax::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: -1; 
}

.separador-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.inner-separador-container{
    display: flex;
    width: 50%;
    justify-content: center;
}

.separador {
    background: #212529;
    content: "";
    display: block;
    height: 2px;
    margin: .74rem 0 0;
    width: 50%;
}

.clientes{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding: 40px 0;
}

.container-clientestitulo{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.inner-container-clienteslist{
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 40px;
}

@media (max-width: 767px){
    .logoclientes{
        display: flex; 
        justify-content: center;
    }
}